/***** General style, all sections *****/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.section-container {
  margin: 0 auto;
}

.section-container-gray-bg {
  background: #f3f3f3;
  color: #3a485d;
}

.section-container-blue-bg {
  background: #3a485d;
  color: #fff;
}

.section-container-image-bg h1, .section-container-image-bg h2, .section-container-image-bg h3, .section-container-image-bg h4, .section-container-image-bg p {
  color: #fff;
}

.section-description {
  line-height: 150%;
  margin-bottom: 30px;
  font-size: 48px;
  text-align: center;
}

.btn-default {
  display: inline-block;
  height: 50px;
  min-width: 100px;
  margin: 0 5px;
  padding: 16px 20px 16px 20px;
  background: #eaa742;
  font-size: 18px;
  font-weight: 600;
  line-height: 16px;
  color: #fff;
  border: none;
  text-shadow: 1px 1px 1px #666;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
  background-color: #3a485d;
  color: #eaa742;
}

.btn-nav {
  display: inline-block;
  /*height: 30px;*/
  min-width: 100px;
  margin-top: 14px;
  padding: 7px 10px 7px 10px !important;
  background: #eaa742;
  font-size: 15px;
  line-height: 15px;
  color: #fff;
  border: none;
  text-shadow: 1px 1px 1px #666;
}

.medium-paragraph {
  font-size: 18px;
  line-height: 32px;
}


/***** Navigation *****/

.navbar {
  margin-bottom: 0;
  background: #3a485d;
  border: 0;
  transition: all .6s;
  -o-transition: all .6s;
  -ms-transition: all .6s;
  -moz-transition: all .6s;
  -webkit-transition: all .6s;
}

.navbar.navbar-no-bg {
  background: none;
}

ul.navbar-nav {
  font-size: 15px;
  color: #fff;
  margin-right: 20px;
}

.navbar-inverse ul.navbar-nav li a {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  opacity: 0.8;
}

.navbar-inverse ul.navbar-nav li a:hover {
  color: #fff;
  opacity: 1;
}

.navbar-inverse ul.navbar-nav li a:focus {
  color: #fff;
  outline: 0;
  opacity: 1;
}

.navbar-toggle {
  margin-top: 13px;
  margin-bottom: 13px;
}


/***** Header *****/

.header-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/backgrounds/homepage.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
}

.header-text h1 {
  margin-top: 15%;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  text-shadow: 1px 1px 1px #666;
}

.header .header-links {
  margin-top: 35px;
}

.head-start {
  position: absolute;
  top: 1;
  left: -0px;
  background-color: #aa3336;
  height: 122px;
  width: 250px;
  border-radius: 4px;
  padding: 15px 8px;
}

.head-start h4 {
  margin-top: 2px;
  margin: 8px;
  font-size: 22px;
}

.head-start p {
  margin-top: 16px;
  margin: 8px;
  font-size: 18px;
}


/***** Intro *****/

.intro-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.intro-description {
  line-height: 48px;
  text-align: center;
  font-size: 24px;
}


/***** About *****/

.about-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-box-text {
  text-align: left;
}

.about-box-text .medium-paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-img {
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-img img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/***** Info *****/

.info-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.info-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-img {
  height: 350px;
  overflow: hidden;
}

.info-img img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info-box-text {}


/***** Info *****/

.market-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.market-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.market-img {
  height: 350px;
  overflow: hidden;
}

.market-img img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.market-box-text {
  margin-top: 135px;
  margin-bottom: 135px;
}


/***** Apps *****/

.apps-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.apps-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.app-img {
  height: 250px;
  overflow: hidden;
}

.app-img img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.app-more {
  font-size: 24px;
  text-align: center;
  line-height: 250px;
}


/***** How *****/

.how-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.how-text {
  text-align: center;
  font-size: 1.25em;
  line-height: 1.7em;
}

.icon-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-img {
  height: 100px;
  overflow: hidden;
}

.icon-img img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon-description {
  font-size: 1.25em;
  line-height: 1.7em;
  margin: 8px;
  color: rgb(122, 122, 122);
  text-align: left;
}


/***** Power *****/

.power-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.power-img {
  height: 338px;
  overflow: hidden;
}

.power-img img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.power-list ul {
  font-size: 1.5em;
  line-height: 1.7em;
  padding: 0;
  margin-bottom: 30px;
  list-style-type: none;
}

.power-list ul li {
  margin-top: 30px;
}

.power-list ul li span {
  color: #eaa742;
}


/***** Testimonials *****/

.testimonials-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.testimonial-header {
  line-height: 150%;
  margin-bottom: 15px;
  font-size: 48px;
  text-align: center;
}

.carousel {
  font-size: 1.5em;
  line-height: 1.7em;
}

#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align: center;
}

#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}

#quote-carousel .carousel-indicators .active {
  background: #333333;
  height: 10px;
  width: 10px;
  margin-bottom: 1px;
}


/***** Featured *****/

.featured-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.featured-img {
  height: 130px;
  overflow: hidden;
}

.featured-img img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/***** Call to Action *****/

.call-to-action-container {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/backgrounds/callToAction.jpg");
  background-size: cover;
  background-position: 50% 55%;
  background-attachment: fixed;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 60px;
}


/***** Footer *****/

.footer-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-box {
  height: 200px;
}

.footer-list ul {
  color: #767e8c;
  font-size: 1.1em;
  padding: 0;
  margin-bottom: 5px;
  list-style-type: none;
}

.footer-list ul li {
  margin-top: 5px;
}

.social-img img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-copyright {
  background-color: #fff;
  margin-top: 25px;
  margin-bottom: 25px;
}
