
@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {
	
	.navbar.navbar-no-bg { background: #444; }
	.navbar-brand { margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-inverse ul.navbar-nav li a { padding-top: 10px; padding-bottom: 10px; }
	
	.header-text { 
		padding: 140px 0; 
	}

	.header-text h1 {
		font-size: 25px;
	}

	.header .header-links { 
		margin-top: 25px;
	}

	.header .header-links a.btn { 
		margin-top: 10px;
	}

	.about-me-box {
		margin-right: 20px;
		margin-left: 20px;
	}
	
	.about-me-box-text { 
		margin-top: 30px;
	}

	.testimonial-list .testimonial-text {
		margin: 30px 0px 0px 0px;
	}

}
